body {
  background-image: url(Images/backgrond.jpeg);
  height: 100%;
  background-position: center;
  background-repeat:initial;
  background-size: cover;
  margin-left: 180px;
  margin-right: 180px;
  border: 10px solid rgb(226, 226, 226);
}

#title {
  color: rgb(212, 108, 11);
  margin-left: 20px;
  text-align: center;
}

.boxes {
    display: block;
    width: 120px;
    height: 80px;
    margin: 20px;
    cursor: pointer;
    padding-top: 25px;
    border-radius: 5px;
    animation: tada;
    animation-duration: 1.5s;
    box-shadow: rgba(61, 61, 85, 0.25) 0px 50px 100px -20px,
      rgba(56, 56, 56, 0.3) 0px 30px 60px -30px,
      rgba(74, 74, 75, 0.35) 0px -2px 6px 0px inset;
    float: left;
    border: 1px solid;
  }

  #box1 {
    position:absolute;
    left: 560px;
  }
  
  #box2 {
    position: absolute;
    right: 560px;
  }
  
  #box3 {
    position: absolute;
    top: 145px;
    left: 560px;
  }
  
  #box4 {
    position: absolute;
    top: 145px;
    right: 560px;
  }
  