body {
  background-image: url(Images/backgrond.jpeg);
  height: 100%;
  background-position: center;
  background-repeat: initial;
  background-size: cover;
  margin-left: 180px;
  margin-right: 180px;
  border: 10px solid rgb(226, 226, 226);
}
.titlecontainer {
  display: block;
  width: 220px;
  margin: 40px;
  position: fixed;
}

.statscontainer {
  width: 200px;
  display: flex;
  margin: 20px;
  justify-content: center;
}

#title {
  color: rgb(212, 108, 11);
  margin-left: 20px;
  text-align: center;
  text-decoration: underline;
  font-size: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  max-height: 100%;
}

#box1 {
  width: 200px;
  height: 200px;
  margin: 40px;
  padding-top: 25px;
  border-radius: 5px;
  border: 1px solid;
}

#box2 {
  width: 200px;
  height: 200px;
  margin: 40px;
  padding-top: 25px;
  border-radius: 5px;
  border: 1px solid;
}

#box3 {
  width: 200px;
  height: 200px;
  margin: 40px;
  padding-top: 25px;
  border-radius: 5px;
  border: 1px solid;
}

#box4 {
  width: 200px;
  height: 200px;
  margin: 40px;
  padding-top: 25px;
  border-radius: 5px;
  border: 1px solid;
}

.buttonbox {
  width: 120px;
  height: 80px;
  margin: 30px;
  padding-top: 25px;
  border-radius: 5px;
  border: 1px solid;
}

#next {
  width: 120px;
  height: 80px;
  margin: 30px;
  padding-top: 25px;
  border-radius: 5px;
  border: 1px solid;
}
#back {
  width: 120px;
  height: 80px;
  margin: 30px;
  padding-top: 25px;
  border-radius: 5px;
  border: 1px solid;
}
#skip {
  width: 120px;
  height: 80px;
  margin: 30px;
  padding-top: 25px;
  border-radius: 5px;
  border: 1px solid;
}
#pause {
  width: 120px;
  height: 80px;
  margin: 30px;
  padding-top: 25px;
  border-radius: 5px;
  border: 1px solid;
}
#help {
  width: 120px;
  height: 80px;
  margin: 30px;
  padding-top: 25px;
  border-radius: 5px;
  border: 1px solid;
}
