body {
  background-image: url(Images/background.jpeg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 180px;
  margin-right: 180px;
  border: 10px solid green;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#title {
  color: rgb(212, 108, 11);
  margin-left: 20px;
  text-align: center;
}

#contentbox {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

#next {
    display:inline-block ;
    width: 80px;
    height: 80px;
}

#back {
    display: none;
    width: 1rem;
    height: 1rem;
}

#skip {
    display: none;
    width: 1rem;
    height: 1rem;
}

#pause {
    display: none;
    width: 1rem;
    height: 1rem;
}

#help {
    display: none;
    width: 1rem;
    height: 1rem;
}